%h2 Edit Roster

= form_tag roster_path(@roster), :method => :patch do
  - @players.positions.each do |position|
    .position
      %h3= "#{position}"
      .players
        - @players.where(:position => position, :active => :true).each do |player|
          = check_box_tag "players[#{player.id}]", player.id, @roster.players.include?(player)
          = player.name
  - if admin?
    Final?
    = select_tag :final, options_for_select([true, false], @roster.final)
  = button_tag "Update"
