%h1 Roster projections

%table.table.table-responsive
  %thead
    %tr
      %th #
      %th User
      %th Score
      %th Roster
  %tbody  
    - @rosters.each_with_index do |roster, index|
      - if roster != Roster.final_roster || admin? 
        %tr
          %td= "#{index + 1}."
          %td= roster.user.name
          %td
            - if Roster.final_roster.nil?
              N/A
            - else
              #{number_to_percentage(roster.result, precision: 2)}
          %td= link_to "See roster", roster
    