%h1 Create Roster

= form_tag rosters_path, :method => :post do
  - @players.positions.each do |position|
    .position
      %h2= "#{position}"
      .players
        - @players.where(:position => position).each do |player|
          = check_box_tag "players[#{player.id}]", player.id
          = player.name
  = button_tag "Save"
