%h1 Users

%table.table
  %thead
    %tr
      %th Id
      %th Username
      %th Admin?
      %th Roster
      %th Actions
  %tbody
    - @users.each_with_index do |user|
      %tr
        %td= user.id
        %td= user.name
        %td= user.admin ? "Yes" : "No"
        %td
          - unless user.roster.nil?
            = link_to "See roster", user.roster
          - else
            N/A
        %td
          = link_to "Edit", edit_user_path(user), class: "btn btn-orange"
          = link_to "Delete", user_path(user), class: "btn btn-orange",  method: :delete
