%h2 Players
- @players.each_with_index do |player, index|
  %div.player
    = "#{index + 1}. #{player.name}, #{player.position}, #{player.active}"
    = link_to "Edit", edit_player_path(player)
    = link_to "Delete", player_path(player), :method => :delete  
= link_to "New", new_player_path