%h2 Players
%table.table.table-condensed.table-bordered.table-responsive
  %thead
    %tr
      %th #
      %th Name
      %th Pos.
      %th.center Status
      %th.center Actions
  %tbody
    - @players.each_with_index do |player, index|
      %tr
        %td= "#{index + 1}."
        %td= player.name
        %td= player.position
        %td.center= player.active ? "Active" : "Inactive"
        %td.center
          = link_to "Edit", edit_player_path(player), class: "btn btn-orange"
          = link_to "Delete", player_path(player), class: "btn btn-orange", :method => :delete
    %tr
      %td.center{colspan: 5}= link_to "Add player", new_player_path, class: "btn btn-roster btn-orange"