%h2 Add player

.row
  .col-md-6.col-md-offset-3
    = form_tag players_path do
    
      = label :name, "Name"
      = text_field_tag :name

      = label :position, "Position"
      = select_tag :position, options_for_select(Player.positions)
      
      = label :status, "Status"
      = select_tag :active, options_for_select([["Active",true], ["Inactive", false]])

      = submit_tag "Save", class: "btn btn-orange"
    .center
      %p= link_to "Back", players_path, class: "center"
