!!! 5
%html
  %head
    %title 53-DBN ROSTER
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
    <![endif]-->
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      %div.container
        = link_to "53-DBN ROSTER", '#', id: "logo"
        %nav
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Home",   '#'
            %li= link_to "Rosters", rosters_path
            - if admin?
              %li= link_to "Players", players_path
            - if !logged_in?
              %li= link_to "Sign up", '/signup'
              %li= link_to "Log in",   '/login'
            - else
              %li= link_to "Logout",  '/logout', :method => :delete
    - flash.each do |key, value|
      = content_tag :div, value, class: "flash #{key}"
    - flash.clear
    %div.container
      = yield
