!!! 5
%html
  %head
    %title DBN 53-man Roster Challenge
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if !logged_in?
      = link_to "Sign up", '/signup'
      = link_to "Login",   '/login'
    - else
      = link_to "Logout",  '/logout', :method => :delete
    %h1 DBN 53-MAN ROSTER CHALLENGE
    - flash.each do |key, value|
      = content_tag :div, value, class: "flash #{key}"
    - flash.clear
    = yield
